@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
h1,h2,h3,h4,h5,h6,a{
  font-family: 'Poppins', sans-serif;
}
p,span{
  font-family: 'Roboto', sans-serif;
}
.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}
